.tac {text-align: center;}
.clear {clear: both;}

.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { 
	width: 48px!important; 
	height: 48px!important; 
	margin-left: -24px !important; 
	margin-top: -13px !important; 
	box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }		

.nav-glyphish-example .ui-btn-inner {padding-left: 0; padding-right: 0;}

#menu-map .ui-icon { background:  url(images/icons/map.png) 50% 50% no-repeat; background-size: 40px 32px; }
#menu-arrivals .ui-icon { background:  url(images/icons/arrivals.png) 50% 50% no-repeat; background-size: 40px 32px;  }
#menu-routes .ui-icon { background:  url(images/icons/routes.png) 50% 50% no-repeat;  background-size: 40px 32px; }
#menu-news .ui-icon { background:  url(images/icons/news.png) 50% 50% no-repeat;  background-size: 40px 32px; }
#menu-options .ui-icon { background:  url(images/icons/options.png) 50% 50% no-repeat;  background-size: 40px 32px; }

#menu-map.ui-btn-active .ui-icon { background:  url(images/icons/map_active.png) 50% 50% no-repeat; }
#menu-arrivals.ui-btn-active .ui-icon { background:  url(images/icons/arrivals_active.png) 50% 50% no-repeat;}
#menu-routes.ui-btn-active .ui-icon { background:  url(images/icons/routes_active.png) 50% 50% no-repeat;}
#menu-news.ui-btn-active .ui-icon { background:  url(images/icons/news_active.png) 50% 50% no-repeat;}
#menu-options.ui-btn-active .ui-icon { background:  url(images/icons/options_active.png) 50% 50% no-repeat;}

.content {position: relative;}
.content .page {display: none;}
.mask {position: absolute; width: 100%; height: 100%; background-color: #ccc; display: none; z-index: 10000;}
.mask h1 {margin: 50px; text-align: center;}

.c-dialog {position: absolute; width: 80%; display: none;
 	top: 20%;
 	left: 10%; 	 	
 	min-width: 250px;
 	z-index: 1000;
}


#footer .ui-btn-active {
border: 1px solid #555;
background-image: -webkit-gradient(linear,left top,left bottom,from(#777),to(#aaa));
background-image: -webkit-linear-gradient(#777,#aaa);
background-image: -moz-linear-gradient(#777,#aaa);
background-image: -ms-linear-gradient(#777,#aaa);
background-image: -o-linear-gradient(#777,#aaa);
background-image: linear-gradient(#777,#aaa);

}


.busMarker {position: absolute; width: 32px; height: 32px; border-radius: 16px; border: 1px solid #000; opacity: 0.8; z-index: 4000;}

.stopMarker {position: absolute; width: 16px; height: 16px; z-index: 3000;}
.stopMarker img {width: 22px; margin-top: -4px;}
.stopMarker .stopLabel {background-color: #fff; padding: 2px 4px; border-radius: 8px; display: inline-block; text-align: center; opacity: 0.80; white-space: nowrap; position: absolute; left: 20px; top: -4px;}

#map {}

.ui-header .ui-title, .ui-footer .ui-title {margin: .6em 15% .8em;}

.text-content {text-align: center; margin: 5px 0px;}

.all-routes-li {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	display: inline-block;
	width: 25px;
	height: 32px;

	-webkit-mask-image: url('images/all_routes.png'); -webkit-mask-size: 25px 32px;
	background: #5E87B0;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #254F7A;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#81A8CE),to(#5E87B0));
	background-image: -webkit-linear-gradient(#6FACD5,#497BAE);
	background-image: -moz-linear-gradient(#81A8CE,#5E87B0);
	background-image: -ms-linear-gradient(#81A8CE, #5E87B0);
	background-image: -o-linear-gradient( #81A8CE, #5E87B0);
	background-image: linear-gradient( #81A8CE, #5E87B0);
}

.bus-li {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
	display: inline-block;
	width: 32px;
	height: 32px;
	/*-webkit-mask-image: url('images/bus_mask.png'); -webkit-mask-size: 25px 32px;*/
	border-radius: 16px;
	-webkit-box-shadow: 0 -1px 0px rgba(0,0,0,.8);
}

.client-li {
	float: left;
	margin-left: 10px;
	margin-top: 2px;
	display: inline-block;
	width: 32px;
	height: 32px;
	/*-webkit-mask-image: url('images/client_mask.png'); -webkit-mask-size: 32px 32px;*/
	border-radius: 16px;
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.8);
}

.pdf .ui-icon-arrow-r {background-position: -540px 50%;}

#arrivals .ui-li {min-height: 14px;}

.header-label {border-radius: 8px; background-color: red; width: 16px; height: 16px; display: inline-block;
	border: 1px solid #044062;
	text-shadow: 0 1px 1px #044062;
	line-height: 16px;
	position: relative;
	background-image: -webkit-linear-gradient(#5F9CC5,#396B9E);
} 



.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
padding: .7em 15px .7em 10px;
display: block;
font-size: 15px;
}

.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
	padding-right: 50px;
}

.ui-title {
font-size: 15px;	
}

legend {
display: inline;
float: left;
vertical-align: bottom;
padding: 8px;	
}

.localnav {
	margin: 10px auto;
	width: 300px;
	height: 45px;
}
.localnav li {
	float: left;	
}

.page {padding-top: 1px; margin-top: -1px;}

.ui-icon-location {
	background-position: 50% 50%;
	background-image: url('images/icon-location-36.png');
	background-size: 24px 24px;
}

#flashMessage {
	display: none;
	position: absolute; top: 40px; 
	padding: 5px 10px; right: 0;
	border: 1px solid  #F7C942;
	background: #FADB4E;
	color: #333;
	text-shadow: 0 1px 0 white;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FCEDA7),to(#FBEF7E));
	background-image: -webkit-linear-gradient(#FCEDA7,#FBEF7E);
	background-image: -moz-linear-gradient(#FCEDA7,#FBEF7E);
	background-image: -ms-linear-gradient(#FCEDA7,#FBEF7E);
	background-image: -o-linear-gradient(#FCEDA7,#FBEF7E);
	background-image: linear-gradient(#FCEDA7,#FBEF7E);
}

#selectRouteOnline .ui-btn-text, #selectRouteAll .ui-btn-text {width: 110px; display: inline-block;}

#options .ui-btn {
text-align: left;
}
.ui-btn-inner {
padding: .5em 20px;
}

.twi-date {font-size: 12px;}

/*#routePreview .ui-btn {position: absolute;}*/